@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 59px;
    height: 58.99px;
    margin: 0 auto;
    display: block;
}

span.error_message {
    color: #EF5944;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 6px;
    display: block;
}