main {
    padding: 48px 150px 150px 150px;
}

main h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

main .empty_trip_container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

main .empty_trip_container h2 {
    margin-bottom: 30px;
}

.dashboard_header {
    margin-top: 55px;
    margin-bottom: 30px;
    display: flex;
}

.dashboard_header button {
    margin-left: auto;
}

.dashboard_header i {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 8px;
}

.c_trips {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}