.c_popover {
    background-color: #ffffff;
    border-radius: 8px;
}

.c_popover button.tertiary {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #333F51;
    width: 100%;
    text-align: left;
    padding-left: 20px;
}